/* -- global css -- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  color: #333;

}

img {
  max-width: 100%;
  height: auto;

}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
