/* -- variables - color --*/
$purpleBG: #3E3E58;
$greenColor: #3dbDb6;
$greenHover: #2e8e89;
$greyColor: #72808e;
$blueLink: #2D8CFF;
$blueBg: #0F95C8;
$greenBg: #3DBDB6;
$lightblueBg: #1D98D6;
$drkblueBg: #1172D0;
$drkPurple: #1F2532;
