.main-hero {
  height: 700px;
  background-color: $purpleBG;
  position: relative;

  &__image {
    position: absolute;
    width: 80vh;
    bottom: 0;
    right: 0;
  }

  &__title {
    position: absolute;
    top: 25%;
    left: 50px;
    font-size: 3.3rem;
    color: #fff;
    font-weight: 300;
  }
}
