.main-hero {
  height: 500px;
  background-color: $purpleBG;
  position: relative;

  @mixin atMedium {
    height: 500px;
  }

  @mixin atLarge {
    height: 700px;
  }

  &__image {
    position: absolute;
    width: 50vh;
    bottom: 0;
    right: 0;

    @mixin atMedium {
      width: 45vh;
    }

    @mixin atLarge {
      width: 80vh;
    }
  }

  &__title {
    position: absolute;
    top: 18%;
    left: 20px;
    font-size: 2.2rem;
    color: #fff;
    font-weight: 300;

    @mixin atMedium {
      top: 18%;
      left: 30px;
      font-size: 2.4rem;
    }

    @mixin atLarge {
      top: 25%;
      left: 50px;
      font-size: 3.3rem;
    }
  }
}
